In [ ]:
import pandas as pd
import numpy as np

In [ ]:
retail_df = pd.read_excel("Online Retail Data Set.xlsx", sheet_name="Online Retail", header=0)

In [ ]:
raw_df = pd.read_excel("Online Retail Data Set.xlsx", sheet_name="Online Retail", header=0)

## DATA QUALITY ASSESSMENT
Duplicated rows : 5268

Customer Id : False Data Types, and Bunch of Missing Value

Quantity : Uncorrect Value

UnitPrice: Uncorrect Value

Description : unnecessary Column with lot of Null and Uncorrect value

In [ ]:
retail_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46341 entries, 26 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    46341 non-null  object
 1   StockCode    46341 non-null  object
 2   Description  46341 non-null  object
 3   Quantity     46341 non-null  int64
 4   InvoiceDate  46341 non-null  datetime64[ns]
 5   UnitPrice    46341 non-null  float64
 6   CustomerID   46341 non-null  object
 7   Country      46341 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 3.2+ MB

In [ ]:
retail_df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
retail_df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
retail_df.duplicated().sum()

5268

# **Data Cleaning**

In [ ]:
##Drop Rows Duplicates value
retail_df.drop_duplicates(inplace=True)

In [ ]:
##Change CustomerID Data Type
retail_df["CustomerID"] = retail_df["CustomerID"].astype(str)

In [ ]:
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [ ]:
##Remove character ".0" from CustomerID
retail_df['CustomerID'] = retail_df['CustomerID'].str[:-2]

In [ ]:
##Drop rows with Country = "United Kingdom"
retail_df = retail_df[retail_df.Country != "United Kingdom"]

In [ ]:
##Change Negative Number to Positive
mask = retail_df["Quantity"] < 0
retail_df.loc[mask, "Quantity"] = retail_df.loc[mask, "Quantity"].abs()

In [ ]:
from google.colab import files
retail_df.to_excel("cleaned_Data.xlsx")

In [ ]:
files.download('cleaned_Data.xlsx')